body {
  background-color: #1e201e;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #ecdfcc;
  padding: 30px;
  font-family: sans-serif;
}

main {
  transform: translateY(2in);
}

form {
  display: flex;
}
a {
  color: #ecdfcc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #ecdfcc;
  opacity: 0.4;
}
footer {
  color: #ecdfcc;
  opacity: 0.4;
  text-align: center;
  padding: 20px;
  transform: translateY(4in);
  font-family: sans-serif;
}

.form-container {
  padding: 130px;
  background-color: #3c3d37;
  transform: translateY(1.9in);
}

.hidden {
  display: none;
}

.poem {
  font-size: 16px;
  color: #ecdfcc;
  padding-left: 10px;
  line-height: 2;
  border-left: 3px solid #697565;
  margin: auto;
  max-width: 600px;
}
.poem strong {
  color: #697565;
  margin: 15px;
  line-height: 3;
}

.hint {
  color: #ecdfcc;
  opacity: 0.4;
  line-height: 1.5;
  padding: 10px;
  font-family: sans-serif;
}

.input-search {
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  padding: 15px 25px;
  border: none;
}
.submit-button {
  width: 100px;
  padding: 15px 25px;
  border-radius: 20px;
  line-height: 1.5;
  background-color: #697565;
  border: 1px solid #697565;
  margin-left: 10px;
  color: #ecdfcc;
  font-family: sans-serif;
}

.generating {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
